<MCard>
    <MCardTitle>
        <PBlockText Primary="@Blog.Title"
                    Tags="@tags">
        </PBlockText>
    </MCardTitle>
    <MCardText>
        @Blog.Descrption
        <div style="padding-top:12px">
            <MRow>
                <MCol Cols="8">
                    <PBlockText>
                        <PrimaryContent>
                            <MIcon Left Small>mdi-calendar-month</MIcon>
                            @Blog.CreateTime
                        </PrimaryContent>
                    </PBlockText>
                </MCol>
                <MCol Cols="2">
                    <PBlockText>
                        <PrimaryContent>
                            <MIcon Left Small>mdi-eye</MIcon>
                            @Blog.BlogViewLogCount
                        </PrimaryContent>
                    </PBlockText>
                </MCol>
                <MCol Cols="2">
                    <PBlockText>
                        <PrimaryContent>
                            <MIcon Left Small>mdi-comment-text</MIcon>
                            33
                        </PrimaryContent>
                    </PBlockText>
                </MCol>
            </MRow>
        </div>
    </MCardText>
</MCard>

@code {
    [Parameter]
    public VBlog Blog { get; set; } = new()
        {
            Title = "这是一个测试标题",
            Content = "这是一个测试内容这是一个测试内容这是一个测试内容这是一个测试内容这是一个测试内容这是一个测试内容这是一个测试内容这是一个测试内容这是一个测试内容这是一个测试内容这是一个测试内容",
        };


    IEnumerable<BlockTextTag> tags = new List<BlockTextTag>()
    {
        new("分类1", "green", "white"),
        new("分类2", "purple", true)
    };
}
