@inject NavigationManager NavigationManager

<MCard Elevation="4" Style="margin-top:10px;" Class="rounded-xl" OnClick="ShowDetail">
    <MCardTitle>
        <PBlockText>
            <PrimaryContent>
                <TextFlag Text="@Item.Title" Flag="@Search"></TextFlag>
                @foreach (var item in Item.BlogGroups)
                {
                    <BlogGroup Item="@item"></BlogGroup>
                }
            </PrimaryContent>
        </PBlockText>
    </MCardTitle>
    <MCardSubtitle>
        <PBlockText>
            <PrimaryContent>
                <MIcon Left Small>mdi-calendar-month</MIcon>
                @Item.CreateTime.ToFormatDateString()
            </PrimaryContent>
        </PBlockText>
        <div>
            @foreach (var item in Item.BlogTags)
            {
                <BlogTag Item="@item" Small></BlogTag>
            }
        </div>
    </MCardSubtitle>
    <MCardText>
        <TextFlag Text="@Item.Description" Flag="@Search"></TextFlag>

    </MCardText>
    <MCardActions>

    </MCardActions>
</MCard>

@code {
    [Parameter]
    public VBlogTiny Item { get; set; } = new();

    [Parameter]
    public string Search { get; set; } = string.Empty;

    protected override Task OnInitializedAsync()
    {
        Item.BlogTags = new List<VBlogTag>();
        for (var i = 0; i < 20; i++)
        {
            Item.BlogTags.Add(new VBlogTag { Name = $"标签{i}" });
            if (i % 5 == 0) Item.BlogGroups.Add(new VBlogGroup { Id = Guid.NewGuid(), Name = $"标签{i}", BlogCount = i });
        }
        return base.OnInitializedAsync();
    }

    void ShowDetail()
    {
        NavigationManager.NavigateTo($"/detail/{Item.Id}");
    }
}